
.authentication-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 40px;
    background-color: #202225;
    font-family: 'Roboto Mono', monospace;
    color: #B8BABD;
}

.authentication-modal.hide {
    pointer-events: none;
    opacity: 0;
    display: none;
}

.authentication-modal .box {
    width: 100%;
    max-width: 360px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 40px;
    background-color: #36393F;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.authentication-modal .message {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    line-height: 1.5em;
    font-size: 0.8em;
}

.authentication-modal label {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-bottom: 10px;
}

.authentication-modal input {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.authentication-modal input[type="text"], .authentication-modal input[type="password"], .authentication-modal input[type="email"] {
    background-color: #40444B;
    border-radius: 3px;
    color: #B8BABD;
}

.authentication-modal input[type="submit"] {
    font-family: inherit;
    text-transform: uppercase;
    background-color: #A873D8;
    border-radius: 3px;
    color: white;
    font-weight: 900;
}

.authentication-modal .buttons {
    /* text-align: center; */
}

.authentication-modal .buttons a {
    color: inherit;
}